
*{margin:0; padding:0; box-sizing: border-box;}
ul{list-style: none;}
.row { width:700px; margin:0 auto;}
.cf::after{
    content: '';
    clear: both;
    display: block;
}
img{
    max-width:100%;
    vertical-align: middle;
}
a{color:inherit; text-decoration: none;}
.blind{
    position:absolute;
    width:1px;
    height: 1px;
    overflow: hidden;
    text-indent: -9999px;
    font-size: 0px;
    line-height: 0px;
}


/* 헤더작업 */
#header{
    position:fixed;
    top:0; left:0;
    width:100%;
    background: #fff;
    z-index: 2;
    padding:0 40px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
    /* 실무에서는 shadow로 선처럼 보이게 처리하는 경우가 많음 */
    display: flex;
    align-items: center;
}
#header > h1 {
    width:50px;
    margin-right:40px;
}
#header > #nav {
    position:relative;
    /* width:calc(100% - 90px);  */
    /* 
    clac를 이용하여 로고 크기범위말고 전부를 네비게이션이 차지하도록 함
    (꼭 빼기 사이에는 띄어쓰기 해줘야함)
    */
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header > #nav > .depth1 > li {
    display: inline-block;
}
#header > #nav > .depth1 > li > a{
    display: inline-block;
    padding:40px 0;
    font-size: 14px;
    font-weight: bold;
}
#header > #nav > .depth1 > li+li > a {
    padding-left: 24px;
}
#header > #nav > .membership{ margin-top:-5px; }
#header > #nav > .membership > a{
    font-size: 14px;
    padding:6px 16px 8px;   
    border:1px solid black;
    border-radius: 50px;
    font-weight: bold;
}
#header > #nav > .membership > a:first-child{
    margin-right:40px;
    border:none;
    padding:7px 0px;
}
#header > #nav > .membership > a:first-child:hover{
    color:#00754a;
}
#header > #nav > .membership > a:nth-child(2){
    margin-right:16px;
    transition:all 0.5s;
}
#header > #nav > .membership > a:nth-child(2):hover{
    background: rgba(0,0,0,0.06);
}
#header > #nav > .membership > a:last-child{
    background: black;
    color:white;
    transition: all 0.5s;
}
#header > #nav > .membership > a:nth-child(3):hover{
    background:rgba(0,0,0,0.7);
}
