/* 회원가입 메인 */
#main input {padding:2px 5px;}
#section legend {display: none;}
#section fieldset { border: none;}
#section h2 {text-align: center; margin:50px;}
#section .border1, #section .border2 , #section .border3{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding:30px;
    margin-bottom: 50px;
}
#section img {display: block; margin:0 auto 30px;}

#joinForm tr {width:500px;}
#joinForm th {width:120px; height: 40px;}
#section .border1 td input, #section .border2 #irum { width:400px;}
#section .border2 #birthyear {width:20%;}
#section .border2 #birthmonth, #section .border2 #birthday {width:15%;}
.border2 #hp1, .border2 #hp2 {width:20%;}
.border2 #email, .border2 #email2 {width:30%;}
.border2 .font12 {font-size: 12px; color:#aaa}


#section .border3 .agree {padding:15px;}
#section .border3 .agree p {margin:0 0 15px;}
#section .border3 .agree span {font-weight: bold; font-size: 18px;}
#section .border3 .agree .info {
    padding:20px;
    height:150px;
    overflow-y: auto;
    border:1px solid rgb(199, 199, 199);
    background-color: rgb(241, 241, 241);
}


.btn > p {text-align: center; margin-top:30px; font-weight: bold; font-size: 14px;}
.btn button{ 
    margin: 20px 50px;
    padding:20px;
    background:#007042;
    border:none;
    width:600px; 
    color:white; 
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.btn button:nth-child(3) {background-color: #ddd;}