/* 로그인 메인 */
#main legend {display: none;}
#main fieldset {border:none;}
#main {
    background: url(../imges/login_bg.jpg);
    min-height: 100vh;
    background-image: cover;
    position:relative;
}
#main .center h2 {color:white; padding:70px 0 40px; text-align: center; font-weight: normal;}
#main .center .centerbox {
    margin-top:50px;
    border: 1px solid black; 
    background-color: white;
    max-width: 600px;
    padding:20px;
    position:absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
}
#main .center .centerbox .tacenter {
    text-align: center;
    font-size: 16px;
    color:rgb(94, 93, 93);
    margin: 10px 0 30px;
}
#main .center .centerbox .tacenter > span {color:green;}
#main .center .centerbox input {
    display: inline-block;
    width:100%;
    height:50px;
    margin-bottom: 10px;
    border:1px solid #bbb;
    padding:10px;
}
#main .center .centerbox .remember i {
    font-size: 25px; 
    color:gainsboro; 
    margin: 5px 5px 20px 0;
}
#main .center .centerbox button {
    display: block;
    margin: 0 auto;
    width:98%;
    height: 60px;
    background-color: rgb(0,102,51);
    color:white;
    font-size: 20px;
    border:none;
    font-weight: bold;
    border-radius: 5px;
}
#main .center .centerbox .ptag {
    color:green;
    font-size: 13px;
    margin:20px 0;
}
#main .center .centerbox .btn {
    text-align: center;
}
#main .center .centerbox .btn a {
    width:100%; 
    padding:0 45px;
    font-size: 15px;
    color:gray;
}
#main .center .centerbox .btn a+a{
    border-left:1px solid #ddd;
}